.navbar{ background:#F97300;}

.nav-link , .navbar-brand{ color: #f4f4f4; cursor: pointer;}

.nav-link{ margin-right: 1em !important;}

.nav-link:hover{ background: #f4f4f4; color: #f97300; }

.navbar-collapse{ justify-content: flex-end;}

.navbar-toggler{  background:#fff !important;}

.navbar-collapse{
    justify-content: flex-end;
}

.header{
 background: url('../images/headerback.jpg');
 width: 100%;
 height: 100vh;
 background-attachment: fixed;
 background-size: cover;
 background-position: center;
}